<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394338138379-n1541294lei2ppq2i1t1hmvm9epsue68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394338138379-n1541294lei2ppq2i1t1hmvm9epsue68</string>
	<key>API_KEY</key>
	<string>AIzaSyDbGoJRTMqn2eEaavCS56pRx2kgs1fyDow</string>
	<key>GCM_SENDER_ID</key>
	<string>394338138379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.applaunchkit.demo</string>
	<key>PROJECT_ID</key>
	<string>applaunchkit-test</string>
	<key>STORAGE_BUCKET</key>
	<string>applaunchkit-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394338138379:ios:6d70d1bb4d14e43ff04a0e</string>
</dict>
</plist>